In [ ]:
import os

In [12]:
import sys

In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [4]:
import scipy.stats as stat

In [11]:
current_directory = os.getcwd()
print(current_directory)

/home/borela/fontes/ind-ir/code/exploration

In [21]:
from util import util_metric

In [23]:
import numpy as np

In [169]:
import importlib
importlib.reload(util_metric)

In [170]:
DATASET_NAME = 'juris_tcu_index'

In [171]:
util_metric.consolidate_result(DATASET_NAME)

df_experiment.shape[0] 64
df_experiment_result.shape[0] 6400
df_experiment_result.shape (6400, 20)
df_query.shape[0] 16022
df_qrel.shape[0] 94653
df_search_data.shape[0] 94653

/home/borela/miniconda3/envs/relevar-busca/lib/python3.7/site-packages/transformers/convert_slow_tokenizer.py:447: UserWarning: The sentencepiece tokenizer that you are converting to a fast tokenizer uses the byte fallback option which is not implemented in the fast tokenizers. In practice this means that the fast version of the tokenizer can produce unknown tokens whereas the sentencepiece version would have converted these unknown tokens into a sequence of byte tokens matching the original piece of text.
  "The sentencepiece tokenizer that you are converting to a fast tokenizer uses the byte fallback option"

Generated file with 6400 records

In [172]:
df_result = util_metric.return_consolidate_result(DATASET_NAME)

In [173]:
df_result.shape

(6400, 30)

In [174]:
df_result.head()

,ID_QUERY,COUNT_DOCTO_RELEVANT,TIME_SPENT,NDCG,COUNT_DOCTO_FOUND,RANK1,LIST_RANK,LIST_DOCTO_FOUND,RETRIEVER_TYPE,TOPK_RETRIEVER,...,LEN_TEXT_CHAR,LEN_TEXT_CHAR_LOG,NUM_WORD,NUM_TOKENS_MONOT5_3B,NUM_TOKENS_MINILM,NUM_TOKENS_MONOT5_3B_LOG,NUM_TOKENS_MINILM_LOG,COUNT_DOCTO_RELEVANT_FOUND,PERCENT_DOCTO_RELEVANT_FOUND,RANKER_TYPE
0,43929,5,20.4052,21.40,300,2,[2],"[2522, 2523, 5221, 2530, 1078, 1981, 5088, 14920, 1954, 1948, 1202, 15116, 2...",bm25,300,...,252,6,40,73,56,4,4,1,20.0,monott5
1,43929,5,14.1932,21.40,200,2,[2],"[2522, 2523, 5221, 2530, 1078, 1981, 14920, 1954, 1948, 1202, 1204, 1195, 55...",bm25,200,...,252,6,40,73,56,4,4,1,20.0,monott5
2,43929,5,7.2503,21.40,100,2,[2],"[2522, 2523, 5221, 2530, 1078, 1981, 1948, 1202, 1195, 1307, 75, 1519, 15257...",bm25,100,...,252,6,40,73,56,4,4,1,20.0,monott5
3,43929,5,21.3537,49.13,300,2,"[4, 2, 5]","[2522, 2523, 5221, 1002, 1100292, 2530, 1078, 1981, 5088, 14920, 15830, 1511...",bm25,300,...,252,6,40,73,56,4,4,3,60.0,monott5
4,43929,5,14.4624,36.01,200,2,"[4, 2]","[2522, 2523, 5221, 1002, 2530, 1078, 1981, 5088, 14920, 1948, 1202, 15116, 2...",bm25,200,...,252,6,40,73,56,4,4,2,40.0,monott5

In [175]:
df_not_found = df_result[df_result['RANK1']==0]

In [176]:
df_not_found.shape

(134, 30)

In [177]:
df_result = df_result[df_result['RANK1']>0]

In [178]:
df_result.shape

(6266, 30)

In [179]:
del df_not_found['RANK1']

In [180]:
lista_nome_metrica = ['RANK1', 'NDCG', 'PERCENT_DOCTO_RELEVANT_FOUND']
lista_nome_categoria = ['RETRIEVER_TYPE', 'TOPK_RETRIEVER', 'TOPK_RANKER',
       'CRITERIA', 'RETRIEVER_MODEL_NAME', 'RANKER_MODEL_NAME',
       'PARADIGMATIC', 'AREA_NAME', 'LEN_TEXT_CHAR_LOG', 'NUM_TOKENS_MONOT5_3B_LOG', 'NUM_TOKENS_MINILM_LOG','RANKER_TYPE']

In [181]:
dict_metricas = {}
for metrica in lista_nome_metrica:
    dict_metricas[metrica] = ['count', 'mean', 'median']
print(dict_metricas)

{'RANK1': ['count', 'mean', 'median'], 'NDCG': ['count', 'mean', 'median'], 'PERCENT_DOCTO_RELEVANT_FOUND': ['count', 'mean', 'median']}

In [182]:
df_result.groupby(['RETRIEVER_TYPE','RANKER_TYPE', 'CRITERIA']).agg(dict_metricas).dropna()

                                       RANK1                   NDCG  \
                                       count      mean median count
RETRIEVER_TYPE RANKER_TYPE CRITERIA
bm25           minilm      total        1078  8.205937    2.0  1078
                           total_gte_5  1083  6.986150    2.0  1083
               monott5     total         700  3.507143    1.0   700
                           total_gte_5   700  3.025714    1.0   700
sts            minilm      total        1052  8.588403    2.0  1052
                           total_gte_5  1063  7.428975    2.0  1063
               monott5     total         294  3.741497    1.0   294
                           total_gte_5   296  3.179054    1.0   296

                                                          \
                                             mean median
RETRIEVER_TYPE RANKER_TYPE CRITERIA
bm25           minilm      total        24.892588  27.49
                           total_gte_5  25.547599  27.49
               monott5     total        39.337014  40.26
                           total_gte_5  39.810414  39.96
sts            minilm      total        23.463470  21.40
                           total_gte_5  24.639915  25.29
               monott5     total        35.382211  34.54
                           total_gte_5  36.507736  39.04

                                       PERCENT_DOCTO_RELEVANT_FOUND  \
                                                              count
RETRIEVER_TYPE RANKER_TYPE CRITERIA
bm25           minilm      total                               1078
                           total_gte_5                         1083
               monott5     total                                700
                           total_gte_5                          700
sts            minilm      total                               1052
                           total_gte_5                         1063
               monott5     total                                294
                           total_gte_5                          296


                                             mean median
RETRIEVER_TYPE RANKER_TYPE CRITERIA
bm25           minilm      total        46.130074  50.00
                           total_gte_5  48.614340  50.00
               monott5     total        57.966686  57.14
                           total_gte_5  61.557000  62.50
sts            minilm      total        41.339715  40.00
                           total_gte_5  44.743396  44.44
               monott5     total        48.978435  50.00
                           total_gte_5  54.332838  50.00

In [183]:
df_result.dropna().groupby(['CRITERIA','RETRIEVER_TYPE','RANKER_TYPE', 'TOPK_RETRIEVER', 'TOPK_RANKER']).agg(dict_metricas).dropna()

                                                                  RANK1  \
                                                                  count
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50              6
                                                      100             6
                                                      200             6
                                       200            50              6
                                                      100             6
                                                      200             6
                                       300            50              6
                                                      100             6
                                                      200             6
                                       400            50              6
                                                      200             6
                           monott5     100            100             6
                                       200            100             6
                                       300            100             6
total_gte_5 sts            minilm      100            50              6
                                                      100             6
                                                      200             6
                                       200            50              6
                                                      100             6
                                                      200             6
                                       300            50              6
                                                      100             6
                                                      200             6
                                       400            50              6
                                                      200             6
                           monott5     100            100             6
                                       200            100             6
                                       300            100             6

                                                                             \
                                                                       mean
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50           6.333333
                                                      100          6.333333
                                                      200          6.333333
                                       200            50           1.833333
                                                      100          1.833333
                                                      200          1.833333
                                       300            50           2.666667
                                                      100          2.666667
                                                      200          2.666667
                                       400            50           3.166667
                                                      200          3.166667
                           monott5     100            100          3.000000
                                       200            100          2.166667
                                       300            100          2.666667
total_gte_5 sts            minilm      100            50           3.833333
                                                      100          3.833333
                                                      200          3.833333
                                       200            50           3.166667
                                                      100          3.166667
                                                      200          3.166667
                                       300            50           3.333333
                                                      100          3.333333
                                                      200          3.333333
                                       400            50           3.500000
                                                      200          3.500000
                           monott5     100            100          3.666667
                                       200            100          5.500000
                                       300            100          6.166667

                                                                          \
                                                                  median
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50             2.0
                                                      100            2.0
                                                      200            2.0
                                       200            50             1.0
                                                      100            1.0
                                                      200            1.0
                                       300            50             2.5
                                                      100            2.5
                                                      200            2.5
                                       400            50             2.5
                                                      200            2.5
                           monott5     100            100            2.5
                                       200            100            1.0
                                       300            100            1.0
total_gte_5 sts            minilm      100            50             2.0
                                                      100            2.0
                                                      200            2.0
                                       200            50             2.0
                                                      100            2.0
                                                      200            2.0
                                       300            50             2.0
                                                      100            2.0
                                                      200            2.0
                                       400            50             2.0
                                                      200            2.0
                           monott5     100            100            2.0
                                       200            100            2.0
                                       300            100            2.0

                                                                   NDCG  \
                                                                  count
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50              6
                                                      100             6
                                                      200             6
                                       200            50              6
                                                      100             6
                                                      200             6
                                       300            50              6
                                                      100             6
                                                      200             6
                                       400            50              6
                                                      200             6
                           monott5     100            100             6
                                       200            100             6
                                       300            100             6
total_gte_5 sts            minilm      100            50              6
                                                      100             6
                                                      200             6
                                       200            50              6
                                                      100             6
                                                      200             6
                                       300            50              6
                                                      100             6
                                                      200             6
                                       400            50              6
                                                      200             6
                           monott5     100            100             6
                                       200            100             6
                                       300            100             6

                                                                              \
                                                                        mean
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50           26.823333
                                                      100          26.823333
                                                      200          26.823333
                                       200            50           30.008333
                                                      100          30.008333
                                                      200          30.008333
                                       300            50           26.953333
                                                      100          26.953333
                                                      200          26.953333
                                       400            50           26.476667
                                                      200          26.476667
                           monott5     100            100          31.078333
                                       200            100          40.226667
                                       300            100          41.236667
total_gte_5 sts            minilm      100            50           27.788333
                                                      100          27.788333
                                                      200          27.788333
                                       200            50           27.710000
                                                      100          27.710000
                                                      200          27.710000
                                       300            50           27.658333
                                                      100          27.658333
                                                      200          27.658333
                                       400            50           27.615000
                                                      200          27.615000
                           monott5     100            100          34.651667
                                       200            100          35.925000
                                       300            100          33.608333

                                                                           \
                                                                   median
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50           29.280
                                                      100          29.280
                                                      200          29.280
                                       200            50           32.165
                                                      100          32.165
                                                      200          32.165
                                       300            50           27.560
                                                      100          27.560
                                                      200          27.560
                                       400            50           27.210
                                                      200          27.210
                           monott5     100            100          32.730
                                       200            100          41.165
                                       300            100          41.165
total_gte_5 sts            minilm      100            50           22.405
                                                      100          22.405
                                                      200          22.405
                                       200            50           29.955
                                                      100          29.955
                                                      200          29.955
                                       300            50           29.955
                                                      100          29.955
                                                      200          29.955
                                       400            50           29.955
                                                      200          29.955
                           monott5     100            100          37.010
                                       200            100          38.620
                                       300            100          37.630

                                                                  PERCENT_DOCTO_RELEVANT_FOUND  \
                                                                                         count
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50                                     6
                                                      100                                    6
                                                      200                                    6
                                       200            50                                     6
                                                      100                                    6
                                                      200                                    6
                                       300            50                                     6
                                                      100                                    6
                                                      200                                    6
                                       400            50                                     6
                                                      200                                    6
                           monott5     100            100                                    6
                                       200            100                                    6
                                       300            100                                    6
total_gte_5 sts            minilm      100            50                                     6
                                                      100                                    6
                                                      200                                    6
                                       200            50                                     6
                                                      100                                    6
                                                      200                                    6
                                       300            50                                     6
                                                      100                                    6
                                                      200                                    6
                                       400            50                                     6
                                                      200                                    6
                           monott5     100            100                                    6
                                       200            100                                    6
                                       300            100                                    6

                                                                              \
                                                                        mean
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50           34.721667
                                                      100          50.695000
                                                      200          50.695000
                                       200            50           43.055000
                                                      100          45.138333
                                                      200          65.971667
                                       300            50           45.138333
                                                      100          49.305000
                                                      200          56.250000
                                       400            50           45.138333
                                                      200          53.471667
                           monott5     100            100          50.695000
                                       200            100          65.971667
                                       300            100          70.138333
total_gte_5 sts            minilm      100            50           38.195000
                                                      100          54.166667
                                                      200          54.166667
                                       200            50           44.445000
                                                      100          46.528333
                                                      200          64.583333
                                       300            50           42.361667
                                                      100          50.695000
                                                      200          57.638333
                                       400            50           42.361667
                                                      200          50.695000
                           monott5     100            100          54.166667
                                       200            100          64.583333
                                       300            100          68.750000


                                                                   median
CRITERIA    RETRIEVER_TYPE RANKER_TYPE TOPK_RETRIEVER TOPK_RANKER
total       sts            minilm      100            50           25.000
                                                      100          50.000
                                                      200          50.000
                                       200            50           29.165
                                                      100          35.415
                                                      200          68.750
                                       300            50           41.665
                                                      100          43.750
                                                      200          62.500
                                       400            50           41.665
                                                      200          50.000

In [184]:
df_not_found.groupby(['CRITERIA','RETRIEVER_TYPE','RANKER_TYPE']).agg({'COUNT_DOCTO_RELEVANT': ['count','mean','median']})

                                       COUNT_DOCTO_RELEVANT
                                                      count      mean median
CRITERIA    RETRIEVER_TYPE RANKER_TYPE
total       bm25           minilm                        22  7.818182    7.5
            sts            minilm                        48  6.166667    6.0
                           monott5                        6  5.000000    5.0
total_gte_5 bm25           minilm                        17  7.823529    9.0
            sts            minilm                        37  6.513514    7.0
                           monott5                        4  5.500000    5.0